.catalog {
  padding: 120px 0 160px 0;

  @include middle-tablet {
    padding: 80px 0 80px 0;
  }

  @include small-tablet {
    padding: 64px 0 80px 0;
  }

  &__tabs {
    margin-bottom: 36px;

    &-btn {
      font-family: "NotoSerif";
      font-weight: 700;
      font-size: 34px;
      line-height: 46px;
      color: var(--coral-color);
      transition: color 0.3s ease-in-out;

      @include small-tablet {
        font-family: "Gilroy";
        font-weight: 600;
        font-size: 24px;
        line-height: 150%;
      }

      &:not(:last-child) {
        margin-right: 32px;

        @include small-tablet {
          margin-right: 16px;
        }
      }

      @include hover {
        color: var(--black-color);
      }

      &--active {
        color: var(--black-color);
        border-bottom: 1px solid var(--black-color);
      }
    }
  }

  &__button {
    text-align: center;
  }

  &__btn {
    @include small-tablet {
      min-width: 263px;
    }
  }
}
