.footer-list {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 16px;

  @include middle-tablet {
    row-gap: 20px;
  }

  @include mobile {
    column-gap: 10px;
  }

  &__item {
    grid-column: 3 span;

    @include middle-tablet {
      grid-column: 4 span;
    }

    @include small-tablet {
      grid-column: 6 span;

      &:nth-child(1) {
        order: 1;
      }

      &:nth-child(2) {
        order: 3;
      }

      &:nth-child(3) {
        order: 2;
      }

      &:nth-child(4) {
        order: 4;
      }
    }
  }

  &__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    color: var(--black-color);
    margin: 0;
    margin-bottom: 24px;

    @include middle-tablet {
      margin-bottom: 16px;
    }

    @include small-tablet {
      font-size: 18px;
      margin-bottom: 8px;
    }

    @include small-mobile {
      font-size: 16px;
      margin-bottom: 8px;
    }
  }

  &__logo {
    display: inline-block;
    margin-bottom: 16px;

    @include mobile {
      margin-bottom: 12px;
    }
  }

  &__copy {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--black-color);
    margin: 0;
  }

  &__text {
    display: inline-block;
    position: relative;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--gray-color);
    margin: 0;

    @include middle-tablet {
      display: block;
    }

    @include small-tablet {
      font-size: 14px;
    }

     @include mobile {
      font-size: 12px;
    }

    &:not(:last-child) {
      margin-bottom: 16px;

      @include mobile {
        margin-bottom: 8px;
      }
    }

    &--icon {
      position: relative;
      padding-left: 30px;
      transition: color 0.3s ease-in-out;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 20px;
        height: 20px;
      }

      &:nth-child(2) {
        &::before {
          top: 10px;
          background: url(../img/footer-icon3.svg) no-repeat;
        }
      }

      &:nth-child(3) {
        &::before {
          top: 2px;
          left: 2px;
          background: url(../img/footer-icon4.svg) no-repeat;
        }
      }

      &:nth-child(4) {
        &::before {
          top: 2px;
          left: 2px;
          background: url(../img/footer-icon5.svg) no-repeat;
        }
      }

      &:nth-child(3),
      &:nth-child(4) {
        @include hover {
          color: var(--black-color);
          font-weight: 500;
        }
      }
    }
  }

  &__icon {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 16px;
    }
  }

  &__social {
    &-icon {
      display: inline-block;

      &:not(:last-child) {
        margin-right: 24px;
      }
    }
  }
}
