<section class="blog" id="blog">
  <div class="container">
    <div class="blog__content">
      <h1 class="blog__title section-title">полезные статьи</h1>
      <h2 class="blog__subtitle section-subtitle">Лучшие советы по подбору дорогих подарков</h2>

      <ul class="blog-list list-reset">
        <li class="blog-list__item">
          <a href="#" class="blog-list__link">
            <picture>
              <source srcset="img/blog-photo1.avif" type="image/avif">
              <source srcset="img/blog-photo1.webp" type="image/webp">
              <img loading="lazy" src="img/blog-photo1.jpg" class="image" width="356" height="356" alt="Обложка блога">
            </picture>
            <p class="blog-list__descr">Как выбрать<br>часы для своей будущей жены</p>
          </a>
        </li>
        <li class="blog-list__item">
          <a href="#" class="blog-list__link">
            <picture>
              <source srcset="img/blog-photo2.avif" type="image/avif">
              <source srcset="img/blog-photo2.webp" type="image/webp">
              <img loading="lazy" src="img/blog-photo2.jpg" class="image" width="356" height="356" alt="Обложка блога">
            </picture>
            <p class="blog-list__descr">Запонки для мужа:<br>7 ключевых правил покупки аксессуара</p>
          </a>
        </li>
        <li class="blog-list__item">
          <a href="#" class="blog-list__link">
            <picture>
              <source srcset="img/blog-photo3.avif" type="image/avif">
              <source srcset="img/blog-photo3.webp" type="image/webp">
              <img loading="lazy" src="img/blog-photo3.jpg" class="image" width="356" height="356" alt="Обложка блога">
            </picture>
            <p class="blog-list__descr">Как выбрать обручальные кольца молодоженам</p>
          </a>
        </li>
      </ul>

      <button class="blog__btn button btn-reset button--fill-black">читать блог</button>
    </div>
  </div>
</section>
