<section class="catalog" id="catalog">
  <div class="container">
    <h2 class="visually-hidden">Каталог товаров</h2>
    <div class="catalog__content">
      <div class="catalog__tabs">
        <button class="catalog__tabs-btn btn-reset catalog__tabs-btn--active">Новинки</button>
        <button class="catalog__tabs-btn btn-reset">Скидка</button>
      </div>

      <ul class="catalog-list list-reset">
        <li class="catalog-list__item">
          <a href="#" class="catalog-list__image">
            <picture>
              <source srcset="img/catalog-photo-1.avif" type="image/avif">
              <source srcset="img/catalog-photo-1.webp" type="image/webp">
              <img loading="lazy" src="img/catalog-photo-1.jpg" class="image" width="263" height="301"
                alt="Фото товара">
            </picture>
          </a>
          <div class="catalog-list__info">
            <button class="catalog-list__icon btn-reset">
              <svg>
                <use xlink:href="img/sprite.svg#catalog-icon"></use>
              </svg>
            </button>
            <h3 class="catalog-list__title">Подвеска «Merilin»</h3>
            <p class="catalog-list__descr">С изображением портрета</p>
            <p class="catalog-list__price">4 600 ₽</p>
          </div>
        </li>

        <li class="catalog-list__item">
          <a href="#" class="catalog-list__image">
            <picture>
              <source srcset="img/catalog-photo-2.avif" type="image/avif">
              <source srcset="img/catalog-photo-2.webp" type="image/webp">
              <img loading="lazy" src="img/catalog-photo-2.jpg" class="image" width="263" height="301"
                alt="Фото товара">
            </picture>
          </a>
          <div class="catalog-list__info">
            <button class="catalog-list__icon catalog-list__icon--active btn-reset">
              <svg>
                <use xlink:href="img/sprite.svg#catalog-icon2"></use>
              </svg>
            </button>
            <h3 class="catalog-list__title">Кулон «Сердце»</h3>
            <p class="catalog-list__descr">Кулон под фотографию</p>
            <p class="catalog-list__price">9 500 ₽</p>
            <p class="catalog-list__price catalog-list__price--old">5 780 ₽</p>
          </div>
        </li>

        <li class="catalog-list__item">
          <a href="#" class="catalog-list__image">
            <picture>
              <source srcset="img/catalog-photo-3.avif" type="image/avif">
              <source srcset="img/catalog-photo-3.webp" type="image/webp">
              <img loading="lazy" src="img/catalog-photo-3.jpg" class="image" width="263" height="301"
                alt="Фото товара">
            </picture>
          </a>
          <div class="catalog-list__info">
            <button class="catalog-list__icon btn-reset">
              <svg>
                <use xlink:href="img/sprite.svg#catalog-icon"></use>
              </svg>
            </button>
            <h3 class="catalog-list__title">Кольцо «Square»</h3>
            <p class="catalog-list__descr">С цитрином</p>
            <p class="catalog-list__price">4 600 ₽</p>
          </div>
        </li>

        <li class="catalog-list__item">
          <a class="catalog-list__image">
            <picture>
              <source srcset="img/catalog-photo-4.avif" type="image/avif">
              <source srcset="img/catalog-photo-4.webp" type="image/webp">
              <img loading="lazy" src="img/catalog-photo-4.jpg" class="image" width="263" height="301"
                alt="Фото товара">
            </picture>
          </a>
          <div class="catalog-list__info">
            <button class="catalog-list__icon btn-reset">
              <svg>
                <use xlink:href="img/sprite.svg#catalog-icon"></use>
              </svg>
            </button>
            <h3 class="catalog-list__title">Карта Таро</h3>
            <p class="catalog-list__descr">Украшение коллекции «Art»</p>
            <p class="catalog-list__price">7 200 ₽</p>
          </div>
        </li>

        <li class="catalog-list__item catalog-list__item--active">
          <a class="catalog-list__image">
            <picture>
              <source srcset="img/catalog-photo-5.avif" type="image/avif">
              <source srcset="img/catalog-photo-5.webp" type="image/webp">
              <img loading="lazy" src="img/catalog-photo-5.jpg" class="image" width="263" height="301"
                alt="Фото товара">
            </picture>
          </a>
          <div class="catalog-list__info">
            <button class="catalog-list__icon btn-reset">
              <svg>
                <use xlink:href="img/sprite.svg#catalog-icon"></use>
              </svg>
            </button>
            <h3 class="catalog-list__title">Именная подвеска</h3>
            <p class="catalog-list__descr">С любым именем</p>
            <p class="catalog-list__price">3 440 ₽</p>
            <p class="catalog-list__price catalog-list__price--old">5 780 ₽</p>
          </div>
        </li>

        <li class="catalog-list__item">
          <a href="#" class="catalog-list__image">
            <picture>
              <source srcset="img/catalog-photo-6.avif" type="image/avif">
              <source srcset="img/catalog-photo-6.webp" type="image/webp">
              <img loading="lazy" src="img/catalog-photo-6.jpg" class="image" width="263" height="301"
                alt="Фото товара">
            </picture>
          </a>
          <div class="catalog-list__info">
            <button class="catalog-list__icon btn-reset">
              <svg>
                <use xlink:href="img/sprite.svg#catalog-icon"></use>
              </svg>
            </button>
            <h3 class="catalog-list__title">«Маленький принц»</h3>
            <p class="catalog-list__descr">Подвеска</p>
            <p class="catalog-list__price">9 560 ₽</p>
          </div>
        </li>

        <li class="catalog-list__item">
          <a href="#" class="catalog-list__image">
            <picture>
              <source srcset="img/catalog-photo-3.avif" type="image/avif">
              <source srcset="img/catalog-photo-3.webp" type="image/webp">
              <img loading="lazy" src="img/catalog-photo-3.jpg" class="image" width="263" height="301"
                alt="Фото товара">
            </picture>
          </a>
          <div class="catalog-list__info">
            <button class="catalog-list__icon btn-reset">
              <svg>
                <use xlink:href="img/sprite.svg#catalog-icon"></use>
              </svg>
            </button>
            <h3 class="catalog-list__title">Кольцо «Maybe You»</h3>
            <p class="catalog-list__descr">Кольцо-печатка</p>
            <p class="catalog-list__price">6 300 ₽</p>
          </div>
        </li>

        <li class="catalog-list__item">
          <a href="#" class="catalog-list__image">
            <picture>
              <source srcset="img/catalog-photo-7.avif" type="image/avif">
              <source srcset="img/catalog-photo-7.webp" type="image/webp">
              <img loading="lazy" src="img/catalog-photo-7.jpg" class="image" width="263" height="301"
                alt="Фото товара">
            </picture>
          </a>
          <div class="catalog-list__info">
            <button class="catalog-list__icon catalog-list__icon--active btn-reset">
              <svg>
                <use xlink:href="img/sprite.svg#catalog-icon2"></use>
              </svg>
            </button>
            <h3 class="catalog-list__title">Браслет «Risa»</h3>
            <p class="catalog-list__descr">Мужской браслет</p>
            <p class="catalog-list__price">4 1190 ₽</p>
          </div>
        </li>
      </ul>

      <div class="catalog__button">
        <button class="catalog__btn button btn-reset button--border-black">весь каталог</button>
      </div>
    </div>
  </div>
</section>
