<section class="categories" id="categories">
  <div class="container">
    <h1 class="categories__title section-title">К мероприятиям</h1>
    <h2 class="categories__subtitle section-subtitle">Настоящая красота здесь!</h2>
    <div class="categories__content">

      <div class="categories__tabs tabs" data-tabs="tab">
        <ul class="tabs__nav list-reset">
          <li class="tabs__nav-item">
            <button class="tabs__nav-btn tabs__nav-btn--active btn-reset button button--border-black"
              type="button">свадьба</button>
          </li>
          <li class="tabs__nav-item">
            <button class="tabs__nav-btn btn-reset button button--border-black" type="button">для него</button>
          </li>
          <li class="tabs__nav-item">
            <button class="tabs__nav-btn btn-reset button button--border-black" type="button">для нее</button>
          </li>
          <li class="tabs__nav-item">
            <button class="tabs__nav-btn btn-reset button button--border-black" type="button">в подарок</button>
          </li>
          <li class="tabs__nav-item">
            <button class="tabs__nav-btn btn-reset button button--border-black" type="button">коллекции</button>
          </li>
          <li class="tabs__nav-item">
            <button class="tabs__nav-btn btn-reset button button--border-black" type="button">редкость</button>
          </li>
        </ul>

        <div class="tabs__content">
          <div class="tabs__panel">
            <div class="tabs__item">
              <a href="#" class="tabs__image">
                <picture>
                  <source srcset="img/categories-photo-1.avif" type="image/avif">
                  <source srcset="img/categories-photo-1.webp" type="image/webp">
                  <img loading="lazy" src="img/categories-photo-1.jpg" class="image tabs__img" width="356" height="280"
                    alt="Кольца">
                </picture>
                <h2 class="tabs__title">Кольца</h2>
              </a>
            </div>
          </div>
          <div class="tabs__panel">
            <div class="tabs__item">
              <a href="#" class="tabs__image">
                <picture>
                  <source srcset="img/categories-photo-2.avif" type="image/avif">
                  <source srcset="img/categories-photo-2.webp" type="image/webp">
                  <img loading="lazy" src="img/categories-photo-2.jpg" class="image tabs__img" width="356" height="280"
                    alt="Серьги">
                </picture>
                <h2 class="tabs__title">Серьги</h2>
              </a>
            </div>
          </div>
          <div class="tabs__panel">
            <div class="tabs__item">
              <a href="#" class="tabs__image">
                <picture>
                  <source srcset="img/categories-photo-3.avif" type="image/avif">
                  <source srcset="img/categories-photo-3.webp" type="image/webp">
                  <img loading="lazy" src="img/categories-photo-3.jpg" class="image tabs__img" width="356" height="280"
                    alt="Подвески">
                </picture>
                <h2 class="tabs__title">Подвески</h2>
              </a>
            </div>
          </div>
          <div class="tabs__panel">
            <div class="tabs__item">
              <a href="#" class="tabs__image">
                <picture>
                  <source srcset="img/categories-photo-4.avif" type="image/avif">
                  <source srcset="img/categories-photo-4.webp" type="image/webp">
                  <img loading="lazy" src="img/categories-photo-4.jpg" class="image tabs__img" width="356" height="280"
                    alt="Запонки">
                </picture>
                <h2 class="tabs__title">Запонки</h2>
              </a>
            </div>
          </div>
          <div class="tabs__panel">
            <div class="tabs__item">
              <a href="#" class="tabs__image">
                <picture>
                  <source srcset="img/categories-photo-5.avif" type="image/avif">
                  <source srcset="img/categories-photo-5.webp" type="image/webp">
                  <img loading="lazy" src="img/categories-photo-5.jpg" class="image tabs__img" width="356" height="280"
                    alt="Браслеты">
                </picture>
                <h2 class="tabs__title">Браслеты</h2>
              </a>
            </div>
          </div>
          <div class="tabs__panel">
            <div class="tabs__item">
              <a href="#" class="tabs__image">
                <picture>
                  <source srcset="img/categories-photo-6.avif" type="image/avif">
                  <source srcset="img/categories-photo-6.webp" type="image/webp">
                  <img loading="lazy" src="img/categories-photo-6.jpg" class="image tabs__img" width="356" height="280"
                    alt="Часы">
                </picture>
                <h2 class="tabs__title">Часы</h2>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
