<footer class="footer">
  <div class="container">
    <div class="footer__content">
      <ul class="footer-list list-reset">
        <li class="footer-list__item">
          <h1 class="footer-list__title">Полезные ссылки</h1>
          <ul class="footer-nav list-reset">
            <li class="footer-nav__item">
              <a href="#" class="footer-nav__link">Оплата</a>
            </li>
            <li class="footer-nav__item">
              <a href="#" class="footer-nav__link">Доставка</a>
            </li>
            <li class="footer-nav__item">
              <a href="#" class="footer-nav__link">Наши магазины</a>
            </li>
            <li class="footer-nav__item">
              <a href="#" class="footer-nav__link">Политика конфиденциальности</a>
            </li>
          </ul>
          <a href="#" class="footer-list__logo">
            <img loading="lazy" src="img/logo.svg" class="image" width="133" height="30" alt="Лого Jewerly">
          </a>
          <p class="footer-list__copy">(c) 2020 Jewelry</p>
        </li>

        <li class="footer-list__item">
          <h1 class="footer-list__title">Оплата</h1>
          <p class="footer-list__text">Отправка заказов по 100% оплате на нашем сайте</p>
          <span class="footer-list__icon">
            <img loading="lazy" src="img/footer-icon.svg" class="image" width="45" height="30" alt="Способ оплаты Visa">
          </span>
          <span class="footer-list__icon">
            <img loading="lazy" src="img/footer-icon2.svg" class="image" width="45" height="30"
              alt="Способ оплаты MasterCard">
          </span>

        </li>

        <li class="footer-list__item">
          <h1 class="footer-list__title">Контакты</h1>
          <p class="footer-list__text footer-list__text--icon">Пресненская набережная, Москва сити, оф. 222</p>
          <a href="tel:+62894563455" class="footer-list__text footer-list__text--icon">+6289 456 3455</a>
          <a href="mailto:Jewelry@mail.ru" class="footer-list__text footer-list__text--icon">Обратная связь</a>
        </li>

        <li class="footer-list__item">
          <h1 class="footer-list__title">Социальные сети</h1>
          <p class="footer-list__text">Подпишитесь на любую соц.сеть и вы получите 5% скидку на первый заказ</p>
          <div class="footer-list__social">
            <a href="#" class="footer-list__social-icon">
              <img loading="lazy" src="img/footer-icon6.svg" class="image" width="20" height="20" alt="VK">
            </a>
            <a href="#" class="footer-list__social-icon">
              <img loading="lazy" src="img/footer-icon7.svg" class="image" width="20" height="20" alt="facebook">
            </a>
            <a href="#" class="footer-list__social-icon">
              <img loading="lazy" src="img/footer-icon8.svg" class="image" width="20" height="20" alt="telegram">
            </a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</footer>
