<section class="hero">
  <div class="container hero__container">
    <div class="hero__content">
      <picture>
        <source srcset="img/hero-banner.avif" type="image/avif">
        <source srcset="img/hero-banner.webp" type="image/webp">
        <img loading="lazy" src="img/hero-banner.jpg" class="image" width="1110" height="720" alt="Девушка">
      </picture>
      <div class="hero__item">
        <h1 class="hero__title section-title">для него и для неё</h1>
        <h2 class="hero__subtitle section-subtitle">Эксклюзивные украшения JEWERLY</h2>
        <button class="hero__btn button btn-reset button--border-white">для мужчин</button>
        <button class="hero__btn button btn-reset button--border-white">для женщин</button>
      </div>
    </div>

    <h2 class="visually-hidden">Преимущества</h2>
    <ul class="hero__benefits benefits-list list-reset">
      <li class="benefits-list__item">
        <img loading="lazy" src="img/benefits-icon-1.svg" class="image" width="40" height="40" alt="Лидерство">
        <div class="benefits-list__info">
          <h3 class="benefits-list__title">Лидеры рынка</h3>
          <p class="benefits-list__descr">Работтаем с 2010 года</p>
        </div>
      </li>
      <li class="benefits-list__item">
        <img loading="lazy" src="img/benefits-icon-2.svg" class="image" width="40" height="40" alt="Безопасность">
        <div class="benefits-list__info">
          <h3 class="benefits-list__title">Безопасные материалы</h3>
          <p class="benefits-list__descr">Нержавеющая медицинская сталь</p>
        </div>
      </li>
      <li class="benefits-list__item">
        <img loading="lazy" src="img/benefits-icon-3.svg" class="image" width="40" height="40" alt="Доствака">
        <div class="benefits-list__info">
          <h3 class="benefits-list__title">Бесплатная доставка</h3>
          <p class="benefits-list__descr">При заказе от 10 000 ₽</p>
        </div>
      </li>
    </ul>
  </div>
</section>
