<section class="shops" id="shops">
  <div class="container">
    <div class="shops__content">
      <h1 class="shops__title section-title">Не знаете, что выбрать?</h1>
      <h2 class="shops__subtitle section-subtitle">Посетите наши салоны в Москве</h2>
      <p class="shops__text">У нас есть 5 островных магазинов в самых крупных торговых центрах Москвы.
      Там вы всегда можете купить готовые изделия или заказать эксклюзивные индивидуальные работы для самых важных событий в
      жизни.</p>
      <button class="shops__btn button btn-reset button--fill-white">наши магазины</button>
    </div>
  </div>
</section>
