<section class="social">
  <div class="container">
    <h1 class="social__title section-title">мы в социальных сетях</h1>
    <h2 class="social__subtitle section-subtitle">#JEWERLY</h2>

    <ul class="social-list list-reset">
      <li class="social-list__item social-list__item--1">
        <picture>
          <source srcset="img/social-photo-1.avif" type="image/avif">
          <source srcset="img/social-photo-1.webp" type="image/webp">
          <img loading="lazy" src="img/social-photo-1.jpg" class="social-list__img image" width="356" height="478" alt="Фото галереи">
        </picture>
      </li>
      <li class="social-list__item social-list__item--2">
        <picture>
          <source srcset="img/social-photo-2.avif" type="image/avif">
          <source srcset="img/social-photo-2.webp" type="image/webp">
          <img loading="lazy" src="img/social-photo-2.jpg" class="social-list__img image" width="356" height="258" alt="Фото галереи">
        </picture>
      </li>
      <li class="social-list__item social-list__item--3">
        <picture>
          <source srcset="img/social-photo-3.avif" type="image/avif">
          <source srcset="img/social-photo-3.webp" type="image/webp">
          <img loading="lazy" src="img/social-photo-3.jpg" class="social-list__img image" width="356" height="478" alt="Фото галереи">
        </picture>
      </li>
      <li class="social-list__item social-list__item--4">
        <picture>
          <source srcset="img/social-photo-4.avif" type="image/avif">
          <source srcset="img/social-photo-4.webp" type="image/webp">
          <img loading="lazy" src="img/social-photo-4.jpg" class="social-list__img image" width="356" height="258" alt="Фото галереи">
        </picture>
      </li>
      <li class="social-list__item social-list__item--5">
        <picture>
          <source srcset="img/social-photo-5.avif" type="image/avif">
          <source srcset="img/social-photo-5.webp" type="image/webp">
          <img loading="lazy" src="img/social-photo-5.jpg" class="social-list__img image" width="356" height="478" alt="Фото галереи">
        </picture>
      </li>
      <li class="social-list__item social-list__item--6">
        <picture>
          <source srcset="img/social-photo-6.avif" type="image/avif">
          <source srcset="img/social-photo-6.webp" type="image/webp">
          <img loading="lazy" src="img/social-photo-6.jpg" class="social-list__img image" width="356" height="258" alt="Фото галереи">
        </picture>
      </li>
    </ul>

  </div>
</section>
